[Unit]
Description = Wireguard Config Server
After = network.target

[Service]
PermissionsStartOnly = true
PIDFile = /run/wgcs/wgcs.pid
User = wgcs
Group = wgcs
WorkingDirectory = /opt/wgconfsrv
ExecStartPre = /bin/mkdir /run/wgcs
ExecStartPre = /bin/chown -R wgcs /run/wgcs
ExecStart = /usr/bin/env gunicorn wgconfsrv:app -b 127.0.0.1:5000 --pid /run/wgcs/wgcs.pid
ExecReload = /bin/kill -s HUP $MAINPID
ExecStop = /bin/kill -s TERM $MAINPID
ExecStopPost = /bin/rm -rf /run/wgcs
PrivateTmp = true

[Install]
WantedBy = multi-user.target
